.nav-bar {
    display: flex;
    padding: 0px;
    overflow: hidden;
    opacity: 70%;
    z-index: 1;
}
.tabs {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: rgb(110, 8, 8);
    margin-top: 0px;
    padding: 0%;
    font-size: 25px;
}

h3 {
    font-size: 20px;
    color: 6c584c;
    text-align: center;
    color: white;
}

a {
    padding-top: 0px;
    align-content: center;
    text-decoration: none;
    color: white;
    padding-right: 45px;
    padding-left: 10px;
}

.raves{
    text-align: center;
}
.userName {
    margin: 10px;
}

.password {
    margin: 10px;
}
h2{
    color: gray
}
.button {
    margin: 10px;
    align-content: center;
    justify-content: center;
}

.container {
    display: grid;
    margin: 20px;
    grid-template-columns: 1fr 1fr
}
.register {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border: 1px solid black;
    width: 20vw;
    padding-right: 50px;
    margin-right: 50px;
    background-color: lightgray;
}
.signUp{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
body{
    background-color: black;
    width: 100vw;
    background-image: url(msc-background.jpg);
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
}
.login{
    border: 1px solid black;
    width: 20vw;
    display: flex;
    align-items: center;
    font-size: 20px;
    color:rgb(179, 60, 60) ;
    font-weight: bolder;
    background-color: lightgray;
}
.signIn, .accountSignUp{
    text-align: center;
}
.accountSignUp{
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bolder;
    color: rgb(179, 60, 60);
    font-size: 20px;
}
.footer{
    background-color: maroon;
    height:150px;
    display: flex;
    justify-content: center;
    opacity:70%;
    border: 1px solid black;
    margin-top: 200px;
}
a:active{
    color: aquamarine;
}
.image{
    width: 250px;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
    margin: 20px;
    transition: 2s ease-in;}

.box{
    background-color: lightgray;
    opacity: 90;
    padding: 50px;
    border-radius: 50%;
}
.clientReviews{
    display: flex;
    justify-content: space-around;
    text-align: center;
    justify-content: center;
    transition: 2s;
}
.clientReviews:hover{
    transform: rotate(10deg);
}
.image:hover{
    transform: rotate(360deg);
}
.tableContainer{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 20px;
    height:75%;
    width: 75%;
    margin-top: 100px;
    margin-left: 50px;
}
.gif{
    width: 100px;
}
.babysitting{
    border: 1px solid black;
    display: flex;
    background-color: lightgray;
    padding: 70px;
    border-radius: 50%;
}
.housekeeping{
    border: 1px solid black;
    display: flex;
    background-color: lightgray;
    padding: 70px;
    border-radius: 50%;
}

h1{
    text-align: center;
}
.reviews{
    font-size: 75px;
    color: red;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    opacity: 70%;
}
/* .mainReviews{
    display:flex;
    flex-direction: column;
} */
.review1{
    border: 1px solid pink;
    font-size: 25px;
    display: flex;
    width: 400px;
    color: black;
}
.review2{
    border: 1px solid red;
    font-size: 25px;
    display: flex;
    width: 400px;
    color: black;
    
}
.review3{
    border: 1px solid grey;
    font-size: 25px;
    display: flex;
    width: 400px;
    color: black;
}
.reviewsGif{
    width: 25vww;
}
a:visited {
    color: green;
}
.title{
    color: black;
    background-color: white;
    opacity: 70%
}
.giphy{
    border: 1px solid black;
    width: 25%; 
}