.nav {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    justify-content: space-between;

}

#background-img{
    background-image: url("background-housekeeping.jpg");
    opacity: .2;
    height: 100vh;
    position: absolute;
    z-index: 1;
    border: 10px solid black;
}

.container {
    border: 1px solid black;
    height: 100vw;
    width: 100vw;
    /* background-color: grey; */
    z-index: 0;
}


a:visited {
    color: green;
}

.title {
    display: flex;
    justify-content: center;
    height: 10px;
}

.p-class {
    display: flex;
    justify-content: center;
    height: 10px;
    font-size: 10pt;
}